@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

h1 {
    text-align: center;
    background: yellow;
    color: brown;
    border: 1px solid red;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h2 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
  font-size: xx-large;
}

h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

#home {
  height: 40vh;
  background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffeehouse.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
}

.form-page-header {
    background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/table.jpg');
  background-size: cover;
    background-repeat: no-repeat;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
}

header {
	background-color: brown;
}

#contact {
	margin-bottom: 50px;
}

#contact > p {
	color:black;
}
nav {
  margin: 0 auto 5px;
	padding: 1rem;
}
nav > a {
	color: beige;
	margin: 1rem;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: chocolate;
}

#menu {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/*span {
    font-size: 2em;
    background: white;
    border: 1px solid black;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}*/

.table-center {
	margin-left: auto;
	margin-right: auto;
}

tr, th, td {
	text-align: center;
  border-bottom: 1px solid black;
}

.myOL{
	display: inline-block;
	text-align: left;
}

.myUL{
	display: inline-block;
	text-align: left;
}

img {
	border-radius: 8px;
  width: 49%;
}

#map {
    border: none;
    width: 100%;
    height: 100%;
}

#drinks {
	padding: 1rem 0;
	margin-bottom: 50px;
  background: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffee-beans.jpg') center center / cover no-repeat fixed;
}

.reasons-box {
	background-color: chocolate;
	font-weight: bold;
  padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 100%;
}	

.black-background {
  background-color: black;
}

.text-center {
	text-align: center;
}

.text-white {
	color: white;
}

.bold {
	font-weight: bold;
}

/*class to make width 1/3 of parent element*/
.drinks-box {
	width: 33%;
}

#coffee-box {
  background-color: brown;
	margin: auto;
}

#tea-box {
  background-color: #6f4e37;
	margin: auto;
}

#cold-drinks-box {
  background-color: chocolate;
	margin: auto;
}

footer {
	margin: auto;
    position: relative;
    width: 100%;
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
}

footer > span{
	color: silver;
}

		
footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
  font-size: 0.8rem;
}

footer > p {
	color: silver;
}

.text-uppercase {
  text-transform: uppercase;
}

/*form html css*/
input[type=reset] {
			margin-left: 0.75rem;
			padding: 0.75rem;
			background-color: #5e361b;
			color: white;
			border: none;
			border-radius: 5px;
}

button[type=submit] {
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
  border-radius: 5px;
}

form {
  width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white; 
}

small {
  font-style: italic;
}

legend {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}

select {
    padding-left: 10px;
    height: 30px;
    width: 100px;
}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
}

.block-label {
	display: block;
}